/* Decorative stuff */
		/*body { font: 76%/1.4 Verdana, Arial, sans-serif; }
		code { font: 1.2em Consolas, "Courier New," Courier, monospace; color: #149514; }*/
		
		/* CSS for checklists */
		.checklist {
			border: 1px solid #ccc;
			list-style: none;
			height: 10em;
			overflow: auto;
			width: 16em;
		}
		.checklist, .checklist li { margin-left: 0; padding: 0; }
		.checklist label { display: block; height: 1%; padding-left: 25px; text-indent: -25px; }
		.checklist label:hover, .checklist label.hover { background: #777; color: #fff; }
		
		/* Checklist 1 */
		.cl1 { font-size: 0.9em; width: 100%; height: 15em; }
		.cl1 .alt { background: #f5f5f5; }
		.cl1 input { vertical-align: middle; }
		.cl1 label:hover, .cl1 label.hover { background: #ddd; color: #000; }
		
		/* Checklist 2 */
		.cl2 {
			background: #67893d;
			color: #D1DCC5;
			font-family: Tahoma, Geneva, Arial, sans-serif;
			width: 50%;
		}
		.cl2 input { vertical-align: middle; }
		.cl2 label { border-bottom: 1px solid #769550; padding: 0.2em 0.2em 0.2em 25px; }
		.cl2 label:hover, .cl2 label.hover { background: #306B34; color: #fff; }
		
		/* Checklist 3 */
		.cl3 {
			border: 1px dotted #a17c04;
			color: #a05a04;
			font-family: "Trebuchet MS", Tahoma, Geneva, Arial, sans-serif;
			font-size: 0.9em;
			height: 19em;
		}
		.cl3 .alt { background: #f8f6ed; }
		.cl3 label { padding: 0.2em 0.2em 0.2em 25px; }
		.cl3 label:hover, .cl3 label.hover { background: #EFE9D4; color: #a05a04; }